<div class="h2">
    <div class="h2-cell">
        <h2 titl="{{ page.title | escape }}">{{ page.title }}</h2>
        <div class="breadcrumbs">
            <a href="/" title="Home">Home</a> / 
            <a class="active" href="{{ page.url }}/" title="{{ page.title | escape }}">{{ page.title }}</a>
        </div>
    </div>
</div>
<div id="content" class="container padding-bottom">
	<div class="about-us-paragraph" style="float: none; margin: 0 auto; margin-top: 40px;">
		<h3 class="p-title" title="Curated For The Cool Kids">Curated For The Cool Kids.</h3>
		<p>Founded in Orange County, CA. by parents of Chris and Sophia, Haus of JR is a new brand of childrens' luxury designer denim and premiums basics. Their vision is to transform simple basics into everyday essentials with close attention to detail - to create trendy yet timeless pieces. And just like their Children's names, Jordyn and Ryder, each piece in the Haus of JR collection is unisex.</p>
	</div>
	<div class="about-us-photo" style="float: left; margin: 40px 0 0 0; width: -moz-calc(50% - 10px); width: -webkit-calc(50% - 10px); width: calc(50% - 10px);">
		<img src="https://cdn.shopify.com/s/files/1/0730/6467/files/haus-of-jr-about-2.jpg" alt="Haus of JR" />
	</div>
	<div class="about-us-photo" style="float: right; margin: 40px 0 0 0; width: -moz-calc(50% - 10px); width: -webkit-calc(50% - 10px); width: calc(50% - 10px);">
		<img src="https://cdn.shopify.com/s/files/1/0730/6467/files/haus-of-jr-about-3.jpg" alt="Haus of JR" />
	</div>
</div>