<div class="h2">
    <div class="h2-cell">
        <h2 titl="{{ page.title | escape }}">{{ page.title }}</h2>
        <div class="breadcrumbs">
            <a href="/" title="Home">Home</a> / 
            <a class="active" href="{{ page.url }}/" title="{{ page.title | escape }}">{{ page.title }}</a>
        </div>
    </div>
</div>
<div id="content" class="container padding-bottom">
	<div class="mobile-swipe"><span>Swipe</span></div>
	<div class="sizing-paragraph">
		<img src="{{ 'sizing.jpg' | asset_url }}" alt="#title" />
		<p>
			Our merchandise generally runs true to size, however fit is based upon personal preference. For example, our denim is a very slim fit and for a more relaxed fit we recommend sizing up.
		</p>
		<p>
			The "T" in 1T - 8T stands for Toddler Sizing. There is overlap between the size ranges mainly because all children come in different shapes and sizes and do not grow the same. For example, a "4" in little kids sizing is going to fit slimmer than a 4T and a 2T is going to fit slimmer than a 24 months in baby/infant sizing.  The silhouette for 24-month sizes is rounder and usually ideal for a baby of any age who might still be crawling, while size 2T clothes are intended for early walkers. The silhouette is less round and more upright to allow for easier movement as your little toddler starts to really get around.
		</p>
	</div>
	<div class="sizing-chart">
		<div class="mobile-table">
			<ul>
	            <li class="active">
	                <a href="#tees" title="Tees"><span>Tees</span></a>
	            </li>
	            <li>
	                <a href="#tops" title="Tops"><span>Tops</span></a>
	            </li>
	            <li>
	                <a href="#ss-hoodies" title="S/S Hoodies"><span>S/S Hoodies</span></a>
	            </li>
	            <li>
	                <a href="#hoodies" title="Hoodies"><span>Hoodies</span></a>
	            </li>
	            <li>
	                <a href="#outerwear" title="Outerwear"><span>Outerwear</span></a>
	            </li>
	            <li>
	                <a href="#bottoms" title="Bottoms"><span>Bottoms</span></a>
	            </li>
	            <li>
	                <a href="#denim" title="Denim"><span>Denim</span></a>
	            </li>
	        </ul>
        </div>
        <div class="mobile-table">
			<table class="table-tab tees active">
				<thead>
					<tr>
						<th></th>
						<th>Chest Width</th>
						<th>Length</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3-4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5-6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7-8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
			<table class="table-tab tops">
				<thead>
					<tr>
						<th></th>
						<th>Chest Width</th>
						<th>Length</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3-4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5-6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7-8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
			<table class="table-tab ss-hoodies">
				<thead>
					<tr>
						<th></th>
						<th>Chest Width</th>
						<th>Length</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3-4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5-6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7-8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
			<table class="table-tab hoodies">
				<thead>
					<tr>
						<th></th>
						<th>Chest Width</th>
						<th>Length</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3-4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5-6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7-8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
			<table class="table-tab outerwear">
				<thead>
					<tr>
						<th></th>
						<th>Chest Width</th>
						<th>Length</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3-4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5-6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7-8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
			<table class="table-tab bottoms">
				<thead>
					<tr>
						<th></th>
						<th>Waist</th>
						<th>Inseam</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3-4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5-6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7-8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
			<table class="table-tab denim">
				<thead>
					<tr>
						<th></th>
						<th>Waist</th>
						<th>Inseam</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>2T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>3T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>4T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>5T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>6T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>7T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>8T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>9T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>10T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>11T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>12T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>13T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
					<tr>
						<td>14T</td>
						<td>gg</td>
						<td>gg</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>