{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}
{% assign sizing_tab = '' %}

{% for tag in product.tags %}
    {% if tag contains 'sizing' %}
        {% assign sizing_tab = tag %}
    {% endif %}
{% endfor %}

<style type="text/css">
/* select */
#content .product-info .options .block.select-default-style {
    display: block;
}

    .selector-wrapper {
        overflow: hidden;
        margin: 0 0 20px 0;
        min-height: 1%;
    }

        .single-option-selector {
            display: none;
        }

/* label */
#content .product-info .options label {
    display: block;
    float: none;
    margin: 0 0 10px 0;
    line-height: 1;
}

/* actions */
#content .product-info .actions .button:first-child {
    margin-left: 0;
}

/* tabs */
#content #product-sizing.product-tab .sizing-chart .table-tab.{{ sizing_tab | remove: 'sizing-' }} {
    display: table;
}
</style>
<div class="h2">
    <div class="h2-cell">
        <h2 titl="{{ product.title | escape }}">{{ product.title }}</h2>
        <div class="breadcrumbs">
            <a href="/" title="Home">Home</a> / 
            <a href="/collections/all/" title="Shop">Shop</a> / 
            <a class="active" href="{{ product.url }}/" title="{{ product.title | escape }}">{{ product.title }}</a>
        </div>
    </div>
</div>
<div id="content" class="container padding-bottom">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
	<meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
    <form id="add-to-cart-form" class="add-to-cart-form" name="add-to-cart-form" method="post" action="/cart/add" data-productid="{{ product.id }}" enctype="multipart/form-data">
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->

    	<div class="product-photos">
            {% if product.images.size == 0 %}
	        	<div class="default">
					<a href="{{ '' | img_url: '1024x1024' }}"><img src="{{ '' | img_url: '1024x1024' }}" /></a>
				</div>
	        {% else %}
                {% comment %}
				    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
				{% endcomment %}
                {% assign featured_image = product.selected.featured_image | default: product.featured_image %}
                <ul class="thumbs">
					{% if product.images.size > 1 %}
						{% for image in product.images %}
							<li><a href="{{ image | img_url: '1024x1024' }}"><img src="{{ image | img_url: 'medium' }}" alt="{{ image.alt | escape }}" /></a></li>
						{% endfor %}
					{% endif %}
				</ul>
				<div class="default">
					<a href="{{ featured_image | img_url: '1024x1024' }}" title="{{ product.title | escape }}"><img src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title | escape }}" /></a>
				</div>
			{% endif %}
    	</div>
        <div class="product-info">
            <h3 title="{{ product.title | escape }}">{{ product.title }}</h3>
            <div id="product-price" class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
				<meta itemprop="priceCurrency" content="{{ shop.currency }}" />
				{% if product.available %}
					<link itemprop="availability" href="http://schema.org/InStock" />
				{% else %}
					<link itemprop="availability" href="http://schema.org/OutOfStock" />
				{% endif %}
				{% assign variant = product.selected_or_first_available_variant %}
				{% if product.compare_at_price > product.price %}
					<span class="product-compare-price compare-at strike">{{ variant.compare_at_price | money }}</span> 
					<span class="product-price sale" itemprop="price">{{ variant.price | money }}</span>
				{% else %}
					<span class="product-price" itemprop="price">{{ variant.price | money }}</span>
				{% endif %}
			</div>
            <div class="availability">
                <span class="inventory fa-clone">Only <span class="count">#</span> left!</span>
                <span class="divider">|</span>
                <span class="status">Availability: {% if product.available == true %}<span class="in-stock">In Stock</span></span>{% else %}<span class="sold-out">Sold Out</span></span>{% endif %}
            </div>
            <div class="description">
                {{ product.description }}
            </div>
            {% assign hide_default_title = false %}
			{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
				{% assign hide_default_title = true %}
			{% endif %}
            <div class="options{% if hide_default_title or product.available == false %} hidden{% endif %}">
            	<div class="block select-default-style">
            		<!--<div class="select-wrapper">-->
						<select id="product-select" name="id" data-productid="{{ product.id }}">
							{% for variant in product.variants %}
							    {% comment %}
                                    <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
							    {% endcomment %}
                                <option {% if forloop.length <= 1 and variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                            {% endfor %}
						</select>
					<!--</div>-->
				</div>
                <div class="block">
                    <label for="quantity">Qty</label>
                    <input id="quantity" name="quantity" type="number" value="1" />
                </div>
            </div>
            <div id="backorder" class="block hidden">
				{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' | replace: '%s', '<span id="selected-variant"></span>' }}
			</div>
            <div class="actions">
                <input id="add" name="add" class="add-to-cart button primary" type="submit" value="{{ add_to_cart | escape }}" />
                <a class="button invert" href="{% if customer %}#add-to-wish-list{% else %}/pages/wish-list/{% endif %}" title="Add To Wish List" data-user-id="{{ customer.id }}" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">+ Wish List</a>
            </div>
            <div class="share">
                <span class="key">Share:</span>
                <span class="value">
                    <a class="fa-twitter" href="http://twitter.com/intent/tweet?url={{ shop.url }}{{ product.url }}/" title="Share {{ product.title | escape }} on Twitter" target="_blank"></a> 
					<a class="fa-facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}/" title="Share {{ product.title | escape }} on Facebook" target="_blank"></a>
		            <a class="fa-google-plus" href="http://plus.google.com/share?url={{ shop.url }}{{ product.url }}" title="Share {{ product.title | escape }} on Google Plus" target="_blank"></a>
		            {% comment %}
		            <a class="fa-tumblr" href="#tumblr" title="Share {{ product.title | escape }} on Tumblr" target="_blank"></a>
		            <a class="fa-pinterest" href="#pinterest" title="Share {{ product.title | escape }} on Pinteest" target="_blank"></a>
		            {% endcomment %}
                </span>
            </div>
        </div>
    </form>
    <div class="product-tabs">
        <ul>
            <li class="active">
                <a href="#sizing" title="Sizing"><span>Sizing</span></a>
            </li>
            <li>
                <a href="#fabric-care" title="Fabric &#38; Care"><span>Fabric &#38; Care</span></a>
            </li>
            <li>
                <a href="#returns-exchanges" title="Returns &#38; Exchanges"><span>Returns &#38; Exchanges</span></a>
            </li>
            {% if settings.product_shopify_reviews == true %}
            	<li>
	                <a href="#product-reviews" title="Product Revies"><span>Product Reviews</span></a>
	            </li>
            {% endif %}
        </ul>
        <div id="product-sizing" class="product-tab">
            {{ pages.sizing.content }}
        </div>
        <div id="product-fabric-care" class="product-tab">
            {{ product.description }}
        </div>
        <div id="product-returns-exchanges" class="product-tab">
            {{ pages.policies.content }}
        </div>
        {% comment %}
			All themes by Shopify should support the Product Reviews app out of the box.
			https://apps.shopify.com/product-reviews
		{% endcomment %}
		{% if settings.product_shopify_reviews == true %}
			<div id="shopify-product-reviews" class="product-tab" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
		{% endif %}
    </div>
    <div class="related-products">
    	{% include 'recommended-products' %}
    </div>
</div>
{% comment %}
	Adding support for product options. See here for details:  
	http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}
<script type="text/javascript">
var selectCallback = function(variant, selector) {
    if(variant) {
        // swap image with variants
        if(variant && variant.featured_image) {
            var originalImage = $('.default img');
            var newImage = variant.featured_image;
            var element = originalImage[0];

            Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
                $(element).parents('a').attr('href', newImageSizedSrc);
                $(element).attr('src', newImageSizedSrc);
            });
        }

        // selected a valid variant that is available
        if(variant.available) {
            // enabling add to cart button
            jQuery('#add').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});

            // show "Only # left!"
            if(variant.inventory_quantity <= 5) {
                $('#content .product-info .availability .inventory, #content .product-info .availability .divider').css({'display': 'inline-block'});
                $('#content .product-info .availability .inventory .count').text(variant.inventory_quantity);
            } else {
                $('#content .product-info .availability .inventory, #content .product-info .availability .divider').css({'display': 'none'});
            }
        
            // if item is backordered yet can still be ordered, we'll show special message
            if (variant.inventory_management && variant.inventory_quantity <= 0) {
                jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
                jQuery('#backorder').removeClass('hidden');
            } else {
                jQuery('#backorder').addClass('hidden');
            }

            jQuery('#content .product-info .availability .status .in-stock').text('In Stock');
        } else {
            // variant is sold out
          	jQuery('#content .product-info .availability .status .in-stock').text('Sold Out');
            jQuery('#content .product-info .availability .inventory, #content .product-info .availability .divider').css({'display': 'none'});
            jQuery('#backorder').addClass('hidden');
            jQuery('#add').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);
        }
        
        // whether the variant is in stock or not, we can update the price and compare at price
        if(variant.compare_at_price > variant.price) {
            jQuery('#product-price').html('<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>'+' <span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>');
        } else {
            jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
        }
    } else {
        // variant doesn't exist
        jQuery('#product-price').empty();
        jQuery('#backorder').addClass('hidden');
        jQuery('#add').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
    }
};

jQuery(function($) {
    new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
  
    // add label if only one product option and it isn't 'Title'
    {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}

    /* product photo thumbs */
    $('.product-photos .thumbs li a').on('click', function(e) {
        e.preventDefault();

        var clicked = $(this),
            clickedHref = clicked.attr('href');

        $('.product-photos .default a').attr('href', clickedHref);
        $('.product-photos .default a img').attr('src', clickedHref);
    });

    /* product photo lightbox */
    $('.product-photos .default a').fancybox({
        helpers : {
            overlay : {
                locked : false
            },
            title: false
        },
        openEffect : 'none',
        closeEffect : 'none'
    });

    /* product select */
    var default_variant_id = '{{ product.selected_or_first_available_variant.id }}',
        default_variant_option1 = '{{ product.selected_or_first_available_variant.option1 }}',
        default_variant_option2 = '{{ product.selected_or_first_available_variant.option2 }}',
        default_variant_option3 = '{{ product.selected_or_first_available_variant.option3 }}',
        default_variant_option4 = '{{ product.selected_or_first_available_variant.option4 }}';

    $('.single-option-selector').each(function(index) {
        var selector = $(this),
            selector_id = selector.attr('id');

        $('<div class="select-pretty select-pretty-for-' + selector_id + '"></div>').insertAfter('#' + selector_id);

        $('#' + selector_id + ' > option').each(function(index) {
            var selector_option = $(this),
                selector_option_value = selector_option.val(),
                selector_option_text = selector_option.text();

            if(default_variant_option1 == selector_option_value || default_variant_option2 == selector_option_value || default_variant_option3 == selector_option_value || default_variant_option4 == selector_option_value) {
                $('<span class="active" data-selector-id="' + selector_id + '" data-option-value="' + selector_option_value + '">' + selector_option_text + '</span>').appendTo('.select-pretty.select-pretty-for-' + selector_id);
            } else {
                $('<span data-selector-id="' + selector_id + '" data-option-value="' + selector_option_value + '">' + selector_option_text + '</span>').appendTo('.select-pretty.select-pretty-for-' + selector_id);
            }
        });
    });

    /* product select disable (not available) */
    {% for variant in product.variants %}
        var variant_id = '{{ variant.id }}',
            variant_title = '{{ variant.title }}',
            variant_avail = '{{ variant.available }}';
                                
        if(variant_avail == 'false') {
            console.log(variant_id + ' / ' + variant_title + ' is ' + variant_avail);
            
            $('.select-pretty span[data-option-value="' + variant_id + '"]').addClass('disabled');
        }
    {% endfor %}

    /* product select action */
    $(document).on('click', '.select-pretty span', function(e) {
        e.preventDefault();

        var selected_option = $(this),
            selected_option_selector_id = selected_option.attr('data-selector-id'),
            selected_option_value = selected_option.attr('data-option-value');

        $('#' + selected_option_selector_id).parent().find('.active').removeClass('active');
        $(selected_option).addClass('active');
        $('#' + selected_option_selector_id + ' option[value="' + selected_option_value + '"]').prop('selected', 'selected').change();
    })

    /* product add to cart */
    $('.add-to-cart').on('click', function(e) {
        e.preventDefault();

        Shopify.addItemFromForm('add-to-cart-form');
    });

    /* product added to cart success */
    Shopify.onItemAdded = function(line_item) {
        Shopify.getCart(function(cart) {
            var cart_item_text = 'Items',
                cart_total_price = Shopify.formatMoney(cart.total_price);

            if(cart.item_count == 1) {
                cart_item_text = 'Item';
            }

            $('#content .product-info .add-to-cart-error, #content .product-info .actions .button.invert').remove();
            $('#header .search-logo-cart .fa-shopping-cart .items .count').text(cart.item_count);
            $('#header .search-logo-cart .fa-shopping-cart .items .text').text(cart_item_text);
            $('#header .search-logo-cart .fa-shopping-cart .subtotal').text(cart_total_price);
            $('<a class="button invert" href="#continue-shopping" title="Continue Shopping">Continue Shopping</a>').appendTo('#content .product-info .actions');
            $('#content .product-info .actions').after('<div class="add-to-cart-error" style="margin: 0 0 20px 0; padding: 20px; border: 1px solid #f1f1f1;">This item has been added to your <a href="/cart/" title="Cart">cart</a>.</a></div>');
        });
    }

    /* product added to cart error */
    Shopify.onError = function(error) {
        var error_response = JSON.parse(error.responseText),
            error_response_description = error_response.description.replace('You can only add', 'You can only add <span style="font-weight: 700;">'),
            error_response_description = error_response_description.replace('to the cart.', '</span> to the cart.')
            error_response_description = error_response_description.replace('the cart', 'your cart');

        $('#content .product-info .add-to-cart-error, #content .product-info .actions .button.invert').remove();
        $('#content .product-info .actions').after('<div class="add-to-cart-error" style="margin: 0 0 20px 0; padding: 20px; border: 1px solid #f1f1f1; color: #cc0000;">' + error_response_description + '</div>');
    }

    /* product continue shopping */
    $(document).on('click', '#content .product-info .actions a[href="#continue-shopping"]', function(e) {
        location.replace(document.referrer);
    });
  
    /* has numbers */
    function hasNumbers(t)
    {
        var regex = /\d/g;
        
        return regex.test(t);
    }
});

Shopify.Image.preload({{ product.images | json }}, 'grande');
Shopify.Image.preload({{ product.images | json }}, '1024x1024');
</script>
{% comment %}
	PREVIOUS/NEXT PRODUCTS - KINDA COOL BUT DON'T NEED THIS FOR NOW
	
	{% if collection %}
		{% if collection.previous_product or collection.next_product %}
			<div>     
	        	{% if collection.previous_product %}
					{% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
					<span class="left">{{ '&larr; Previous Product' | link_to: prev_url }}</span>
	        	{% endif %}
	        	{% if collection.next_product %}
	          		{% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
	          		<span class="right">{{ 'Next Product &rarr;' | link_to: next_url }}</span>
	        	{% endif %}
        	</div>
        {% endif %}
	{% endif %}
{% endcomment %}